body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

nav ul {
  list-style: none;
  background-color: #4a4a4f;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 2.5%;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

nav a:hover {
  color: #4a4a4f;
  background-color: #ffffff;
}


.card {
  float: left;
  width: 20%;
  margin-left: 10%;
}
.card a {
  text-align: center;
  text-decoration: none;
}


img {
  width: 100%;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  color: #339199;
}

/* tablet */
@media (min-width:767px) {
  nav ul {
    list-style: none;
    background-color: #FF7F33;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  nav a {
    text-decoration: none;
    color: #ffffff;
    display: block;
  }

  nav a:hover {
    color: #FF7F33;
    background-color: #ffffff;
  }

  nav .home{
    background-color: green;
  }

  h1 {
    color: #A09F54;
  }

}

/* Desktop*/
@media (min-width:992px) {
  nav ul {
    list-style: none;
    background-color: #67374C;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  nav a {
    text-decoration: none;
    color: #ffffff;
    display: block;
  }

  nav a:hover {
    color: #67374C;
    background-color: #ffffff;
  }

  nav .home{
    background-color: green;
  }

h1 {
  color: #61361C;
}

}
